@model ProducerViewModel
@{
    ViewData["Title"] = "Produce";

    var sample = ViewData["sample"] != null ? ViewData["sample"].ToString() : string.Empty;
}


<div class="row">
    <div class="col-md-12">
        <h1>Produce</h1>
        <select>
            @foreach (var name in Model.TopicNames)
            {
                <option value="@name">@name</option>
            }
        </select>
        @Html.ActionLink("Populate", "Populate", "Home", new { topicname = "customer-profile-created" })
    </div>
    <div class="col-md-12">
        <textarea style="width:100%;height:200px;margin-top:10px; background-color:#efefef;">@sample</textarea>
    </div>
</div>



